.car{
    
    width: 100;
    margin-bottom: 3rem;
}


.car:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.car-body{
    padding: 2rem 0 !important;
}



.car-text{
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
}

.containter-fluid .row{
    padding-top: 6rem;

}

.overflow{
    overflow:hidden;
}

.car-img-top{
    transform:scale(1);
    transition:transform 0.5s ease;
}

.car-img-top:hover {
    transform:scale(1.8);
} 