.main-footer{
    color: black;
    display: table;
    padding-top: 2rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    padding-bottom: -1rem;


  

}

.endfooter{
    color: black;
    background-color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
}